footer {
  background-image: url("./flour.jpg");
  background-size: cover;
  height: 150px;
  width: 100%; }

.delivery {
  color: white;
  font-family: raleway; }

.address {
  font-family: raleway;
  color: white; }

.socialbtn {
  color: white;
  font-family: robotocondensed;
  text-align: center; }
  .socialbtn a {
    color: white;
    font-family: robotocondensed;
    display: inline-block;
    margin-right: 20px;
    font-size: 16px;
    text-transform: uppercase; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  header {
    height: 180px; }
    header::before {
      height: 180px; }
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  footer {
    height: 120px; }
    footer .socialbtn h2 {
      display: none; }
    footer .socialbtn span {
      display: none; }
    footer .socialbtn a {
      display: inline-block;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: #94774a;
      font-size: 16px;
      margin: 10px;
      line-height: 40px; }
  /**/ }
