.phone {
  text-align: right;
  height: 120px;
  color: #fff;
  overflow: auto; }
  .phone p {
    margin-top: 37px;
    display: block;
    margin-bottom: -45px;
    font-size: 14px;
    font-family: roboto; }
  .phone .num {
    font-family: robotocondensed;
    font-weight: bold;
    font-size: 23px;
    color: #fff; }
    .phone .num span {
      font-size: 15px; }
      .phone .num span i {
        color: #94774a; }
