.item {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .item .text {
    width: 85%;
    height: 100%;
    color: white;
    margin: 0 auto; }
    .item .text .name {
      font-family: isadora;
      font-size: 52px;
      line-height: 55px;
      margin: 0; }
    .item .text .desc {
      font-family: raleway;
      font-size: 16px; }
  .item .pict {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .item .pict img {
      width: 90%;
      height: auto;
      margin: 0 auto; }

@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }
