.salad-card {
  width: 250px;
  height: 50vh;
  background-color: white;
  font-family: raleway;
  margin: 0 auto; }
  .salad-card img {
    height: auto;
    width: 100%; }
  .salad-card .price {
    height: 60px;
    width: 60px;
    border-radius: 50px;
    background-color: #94774a;
    transform: translateY(-50%);
    margin: 0 auto;
    padding-top: 15px;
    font-size: 12px;
    font-weight: bold;
    display: block;
    color: white;
    line-height: 15px;
    text-align: center; }
  .salad-card .name {
    font-family: Raleway;
    font-weight: 800;
    font-size: 18px;
    width: 80%;
    border-bottom: 2px solid #94774a;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center; }
  .salad-card .consist {
    width: 90%;
    margin: 0 auto;
    padding-top: 15px;
    font-family: Raleway;
    font-size: 14px;
    text-align: left; }
    .salad-card .consist span {
      font-weight: bold; }
  .salad-card .choose {
    width: 250px;
    height: 45px;
    box-sizing: border-box;
    background: #94774a;
    font-size: 16px;
    color: white;
    font-family: RobotoCondensed;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    font-weight: bold;
    bottom: 0; }
