@font-face {
  font-family: 'isadora';
  src: url("./IsadoraBold/IsadoraBold.eot");
  src: url("./IsadoraBold/IsadoraBold.eot") format("embedded-opentype"), url("./IsadoraBold/IsadoraBold.woff") format("woff"), url("./IsadoraBold/IsadoraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'nautilus';
  src: url("./NautilusPompilius/NautilusPompiliusRegular.eot");
  src: url("./NautilusPompilius/NautilusPompiliusRegular.eot") format("embedded-opentype"), url("./NautilusPompilius/NautilusPompiliusRegular.woff") format("woff"), url("./NautilusPompilius/NautilusPompiliusRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'raleway';
  src: url("./RalewayRegular/RalewayRegular.eot");
  src: url("./RalewayRegular/RalewayRegular.eot") format("embedded-opentype"), url("./RalewayRegular/RalewayRegular.woff") format("woff"), url("./RalewayRegular/RalewayRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'raleway';
  src: url("./RalewayBold/RalewayBold.eot");
  src: url("./RalewayBold/RalewayBold.eot") format("embedded-opentype"), url("./RalewayBold/RalewayBold.woff") format("woff"), url("./RalewayBold/RalewayBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'roboto';
  src: url("./RobotoRegular/RobotoRegular.eot");
  src: url("./RobotoRegular/RobotoRegular.eot") format("embedded-opentype"), url("./RobotoRegular/RobotoRegular.woff") format("woff"), url("./RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto';
  src: url("./RobotoBold/RobotoBold.eot");
  src: url("./RobotoBold/RobotoBold.eot") format("embedded-opentype"), url("./RobotoBold/RobotoBold.woff") format("woff"), url("./RobotoBold/RobotoBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'robotocondensed';
  src: url("./RobotoCondensedBold/RobotoCondensedBold.eot");
  src: url("./RobotoCondensedBold/RobotoCondensedBold.eot") format("embedded-opentype"), url("./RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"), url("./RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
