$main: #94774a
.logo
		width: 170px
		position: relative
		font-family: nautilus
		font-size: 25px

		img
			position: absolute
			left: 10px
			top: 37px
			bottom: 30px
			height: 50px
			width: 50px
			background-color: $main
			border-radius: 50px
			transform: rotate(12deg)
			box-sizing: border-box
			border: 5px solid $main
		p
			position: absolute
			color: $main
			left: 75px
			top: 5px
			transform: rotate(-7deg)
			span
				color: white
				margin-top: 0
				position: absolute
				left: -10px
				top: 20px



