.logo {
  width: 170px;
  height: 100px;
  position: relative;
  font-family: nautilus;
  font-size: 25px; }
  .logo a {
    display: block;
    width: 180px;
    height: 100px; }
  .logo img {
    position: absolute;
    left: 10px;
    top: 37px;
    bottom: 30px;
    height: 50px;
    width: 50px;
    background-color: #94774a;
    border-radius: 50px;
    transform: rotate(12deg);
    box-sizing: border-box;
    border: 5px solid #94774a; }
  .logo p {
    position: absolute;
    color: #94774a;
    left: 75px;
    top: 5px;
    transform: rotate(-7deg); }
    .logo p span {
      color: white;
      margin-top: 0;
      position: absolute;
      left: -10px; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {
  .logo {
    transform: scale(0.7); }
    .logo img {
      top: 23px; }
    .logo p {
      top: -10px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .logo {
    transform: scale(0.7); }
    .logo img {
      top: 23px; }
    .logo p {
      top: -10px; }
  /**/ }
