.card {
  height: 70vh;
  width: 295px;
  box-sizing: border-box;
  background-color: white;
  margin: auto; }
  .card .picture {
    height: 350px;
    width: 100%;
    margin: 9px auto 10px;
    background-image: url("./../../img/flour.jpg"); }
    .card .picture img {
      width: 70%;
      height: auto;
      margin: 12% 15%; }
  .card .small {
    position: absolute;
    left: 80px;
    top: 285px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 6px solid #94774a;
    background: transparent;
    font-size: 20px;
    color: white;
    font-family: RobotoCondensed;
    font-weight: bold; }
    .card .small:disabled {
      background: #3f3320; }
  .card .big {
    position: absolute;
    left: 140px;
    top: 280px;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 6px solid #94774a;
    background: transparent;
    font-size: 20px;
    color: white;
    font-family: RobotoCondensed;
    font-weight: bold; }
    .card .big:disabled {
      background: #3f3320; }
  .card .price {
    position: absolute;
    left: 220px;
    top: 285px;
    color: white;
    font-family: RobotoCondensed;
    font-weight: bold;
    font-size: 24px;
    height: 45px;
    width: 140px;
    background-color: #94774a;
    line-height: 45px;
    text-align: center; }
  .card .name {
    font-family: Raleway;
    font-weight: 800;
    font-size: 18px;
    width: 80%;
    border-bottom: 2px solid #94774a;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase; }
  .card .consist, .card .description {
    width: 90%;
    margin: 0 auto;
    padding-top: 15px;
    font-family: Raleway;
    font-size: 14px; }
    .card .consist span, .card .description span {
      font-weight: bold; }
  .card .choose {
    width: 295px;
    height: 45px;
    box-sizing: border-box;
    background: #94774a;
    font-size: 16px;
    color: white;
    font-family: RobotoCondensed;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    bottom: 0; }
